.app {
  text-align: center;
  padding: 20px;
  font-family: Arial, sans-serif;
  background-color: #f5f5f5;
  min-height: 100vh; /* Гарантирует, что страница всегда будет занимать весь экран */
  display: flex;
  flex-direction: column;
}

.galleryContainer {
  min-height: 400px; /* Увеличено, чтобы контейнер не схлопывался */
  padding: 20px; /* Дополнительные паддинги, если нужно */
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: center;
  align-items: flex-start;
  transition: min-height 0.3s ease-in-out; /* Плавный переход */
}
