.header {
  background: #3b44c5;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  min-height: 80px;
}

.form {
  position: relative;
  width: 50%;
  max-width: 500px;
}

.input {
  width: 100%;
  padding: 12px 40px;
  font-size: 18px;
  border: none;
  border-radius: 20px;
  outline: none;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

.searchIcon {
  position: absolute;
  left: 15px;
  top: 50%;
  transform: translateY(-50%);
  font-size: 20px;
  color: #555;
}
